include layouts/head
doctype html
html(lang="en")
  block head
    head
      +head({
        "title": "Combine",
				"author": "Denisoed",
				"description": "Start template",
        "criticalCss": "index_critical"
      })
  body
    //- ///////////////////////Code////////////////////////
    //- //////////////////// End Code /////////////////////
  block styles
    //build:css css/styles.min.css
    link(rel="stylesheet" href="css/libs.min.css")
    link(rel="stylesheet" href="css/base.min.css")
    //endbuild

    //---------Change the file with the styles for the corresponding-------\\
    link(rel="stylesheet" href="css/styles/index.min.css")
    
  block vendors
    //build:js js/scripts.min.js
    script(src="libs/jquery/dist/jquery.min.js")
    script(src="js/script.min.js")
    //endbuild