include layouts/head
doctype html
html(lang="en")
  block head
    head
      +head({
        "title": "Combine",
				"author": "Denisoed",
				"description": "Start template",
				"style": "index"
      })
  body
    //- ///////////////////////Code////////////////////////

    //- //////////////////// End Code /////////////////////
  block vendors
    // build:js js/libs.min.js
    script( src="../node_modules/jquery/dist/jquery.min.js")
    // endbuild
  block scripts
    script( src="js/script.min.js")