{# main.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Combine</title>
    <meta content="Denisoed" name="author"/>
    <meta content="Start template" name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png"/>
    <meta name="theme-color" content="#000"/>
    <meta name="msapplication-navbutton-color" content="#000"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#000"/>
    <style>@@include('css/critical/index_critical.min.css');</style><!--<Deject>-->
    <link rel="stylesheet" href="css/critical/index_critical.min.css"/><!--</Deject>-->
    <meta property="og:url" content="https://site.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Title">
    <meta property="og:description" content="Description">
    <meta property="og:image" content="https://site.com/img/path/..">
  </head>
<body>
<section>
    {% block page %}{% endblock %}
</section>
</body>
<!--build:css css/styles.min.css-->
  <link rel="stylesheet" href="css/libs.min.css">
  <link rel="stylesheet" href="css/base.min.css">
  <!--endbuild-->
  <link rel="stylesheet" href="css/styles/index.min.css">
  <!--build:js js/scripts.min.js-->
  <script src="js/script.min.js"></script>
  <!--endbuild-->
  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83208754-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-83208754-6');
  </script>
</html>